@charset "utf-8";
/* CSS Document */
*{
  margin:0px;
  padding:0px
}

.container{
  width:100%;
  height:auto;
  background-image: url(22.jpg);
  background-repeat: repeat-x;
}
.banner{
  width:90%;
  height:748px;
  background-image: url(11.jpg);
  opacity: inherit;
  background-repeat: no-repeat;
}
.bannertop{
  width:100%;
  height:30px;
  background-image: url(22.jpg);
  float: left;
}
.bannerside{
  width:20%;
  height:728px;
  background-image: url(22.jpg);
  float: left;
}
.border{
  width:100%;
  height:10px;
  background-color:#999999;
}
.main{
  width:100%;
  height:460px;
  background-color:#999999;
}
.mainleft{
  width:60%;
  height:460px;
  margin-right:10px;
  background-image:url(Header.jpg);
  float:left;
}
.mainright{
  width:38%;
  height:460px;
  background-color:#FFF;
  float:left;
}
.footer{width:100%;
   height:90px;
    background-image:url(footer.jpg);
  }
.logo{
  margin:45px 0px 0px 0px;
}
