@charset "utf-8";
/* CSS Document */
*{
  margin:0px;
  padding:0px
}

.container{
  width:100%;
  height:auto;
  background-image: url(22.jpg);
  background-repeat: repeat-x;
}
.banner{
  width:85%;
  height:748px;
  background-image:url(11.jpg);
  background-repeat: no-repeat;
}
.bannertop{
  width:100%;
  height:30px;
  background-image: url(22.jpg);
  float: left;
}
.bannerside{
  width:15%;
  height:728px;
  background-image: url(22.jpg);
  float: left;
}
.box{
  width:69%;
  height: 40px;
  margin-top: 77px;
  margin-left: 15px;
  background-color: black;
  float:left;
}
.block{
  width:18%;
  height: 35px;
  margin-top: 3px;
  margin-left :5px;
  background-image: url(bells.png);
  float: left;

}



}
/*.border{
  width:100%;
  height:10px;
  background-color:#999999;
}
.main{
  width:100%;
  height:460px;
  background-color:#999999;
}
.mainleft{
  width:60%;
  height:460px;
  margin-right:10px;
  background-image:url(Header.jpg);
  float:left;
}
.mainright{
  width:38%;
  height:460px;
  background-color:#FFF;
  float:left;
}
.footer{width:100%;
   height:90px;
    background-image:url(footer.jpg);
  }
.logo{
  margin:45px 0px 0px 0px;
}*/
